<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SAT Prep</title>
  <link rel="shortcut icon" href="http://sat.collegeboard.org/SAT/public/image/Scores_Retake_SAT.jpg">
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <div> 
      <h1 class="ribbon">
       <strong class="ribbon-content"><%= @sat_question.instructions%></strong>
      </h1>
        <p>
        <%= @sat_question.question %>:
        <a href= "http://sat.collegeboard.org/practice/sat-question-of-the-day" target="_blank">
        <br>
        <%= @sat_question.answer_choices %></a>
        <br>
        <div class="countdown">
          <iframe width="350" height="240" src="//w2.countingdownto.com/597466" frameborder="0"></iframe>
          <p><a href="http://satcrammers.tumblr.com/" target ="_blank">Check out this SAT Tricks page!</a></p>
          <img src="http://www.thebestcolleges.org/wp-content/uploads/2012/09/17-Scientifically-Proven-Ways-to-Study-Better-This-YEar.png" height="500px" width="500px">
          <p><a href="http://8tracks.com/aerith/collections/writing-and-studying" target="_blank">Pick a playlist to study to!</a></p>
          <p><a href="http://selfcontrolapp.com/" target="_blank">Need help focusing? Check out this app.</a></p>
        </div>
      <div class="break">
          <h3>Need a break?</h3>
          <h4>Check out these:</h4>
          <p><a href="http://8tracks.com/ferni22/oh-no-it-s-study-time-part-1" target="_blank">Listen to this playlist!</a></p>
          <p><a href="https://www.tumblr.com/tagged/hedgehog-gif" target="_blank"><img src="https://33.media.tumblr.com/3540e41d430bab3334f0290b420978f9/tumblr_n8vail80AL1tfp37ho1_500.gif" height="70%" width="50%"><br>Check out some adorable Hedgehogs</a></p>
      </div>
      <div class="question">
        <p>Want text updates of daily SAT Questions?
          <br>
          It can be arranged... <img src="http://emojipedia.org/wp-content/uploads/2013/07/160x160x78-cat-face-with-wry-smile.png.pagespeed.ic.1ygkM3ku-M.jpg" height="10%" width="10%">
        </p>
      </div>

        

  </div>



</body>
</html>