<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daily SAT Question</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <div> 
      <h1 class="ribbon">
       <strong class="ribbon-content"><%= @sat_question.instructions%></strong>
      </h1>
        <p>
        <%= @sat_question.question %>:
        <a href= "http://sat.collegeboard.org/practice/sat-question-of-the-day">
        <br>
        <%= @sat_question.answer_choices %></a>
        <br>
      
          <iframe width="350" height="240" src="//w2.countingdownto.com/597466" frameborder="0"></iframe>
      
        

  </div>



</body>
</html>